.joshua-reference { font-size: xxx-large; font-weight: 400; color: white; }
.joshua-reference-mobile { font-size: xx-large; font-weight: 400; color: white; }

.heading { font-size: xx-large; font-weight: 400; color: white; }
.content { font-size: larger; font-weight: 300; color: white; }

.joshu-verse { font-size: large; font-weight: 400; }
.joshu-verse-mobile { font-size: medium; font-weight: 400; }

.location-card {
    height: 15vh;
    width: 20vw;
    color: white;
    border-radius: 30px;
    font-family: 'DinaRemaster', 'Roboto', sans-serif;
    overflow: hidden;
}
.location-card-mobile {
    height: 25vh;
    width: 90vw;
    color: white;
    border-radius: 30px;
    font-family: 'DinaRemaster', 'Roboto', sans-serif;
    overflow: hidden;
}
.contact-card {
    height: 25vh;
    width: 20vw;
    color: white;
    border-radius: 30px;
    font-family: 'DinaRemaster', 'Roboto', sans-serif;
    overflow: hidden;
}
.contact-card-mobile {
    height: 30vh;
    width: 90vw;
    color: white;
    border-radius: 30px;
    font-family: 'DinaRemaster', 'Roboto', sans-serif;
    overflow: hidden;
}

.joshua-card {
    height: 25vh;
    width: 30vw;
    color: white;
    border-radius: 30px;
    font-family: 'DinaRemaster', 'Roboto', sans-serif;
    overflow: hidden;
}
.joshua-card-mobile {
    height: 30vh;
    width: 90vw;
    color: white;
    border-radius: 30px;
    font-family: 'DinaRemaster', 'Roboto', sans-serif;
    overflow: hidden;
}
.title { font-size: xx-large; }
.subtitle { font-size: large; }