
<div fxLayout="column" fxLayoutAlign="space-evenly center" fxFill class="pd-top-5">
    <div *ngIf="!getUserIsOnMobile()" class="pd-bottom-10">
        <span class="heading">Links/Projects</span>
    </div>
    <div *ngIf="getUserIsOnMobile()" class="pd-bottom-5">
        <span class="heading-mobile">Links/Projects</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <ng-template ngFor [ngForOf]="projects$ | async" let-project let-i="index">
            <app-project-card
                projectName="{{project.title}}"
                imageURL="{{project.imageUrl}}"
                bodyText="{{project.detail}}"
                projectSubtitle="{{project.subtitle}}"
                projectURL="{{project.projectUrl}}"
                [userIsOnMobile]="getUserIsOnMobile()"
            >
            </app-project-card>
        </ng-template>
    </div>
</div>
