
<div fxLayout="column" fxLayoutAlign="space-evenly center" fxFill class="pd-bottom-20">
    <div *ngIf="!getUserIsOnMobile()" class="pd-bottom-10">
        <span class="heading">Links/Projects</span>
    </div>
    <div *ngIf="getUserIsOnMobile()" class="pd-bottom-5">
        <span class="heading-mobile">Links/Projects</span>
    </div>
    <app-project-card
        projectName="Github"
        imageURL="https://static.micahnorwoodjordan.com/github.png"
        bodyText="My humble Github profile. Only a few repos are public so far -- that of this very website, my music website, and a simple web server I built purely in Java, ya know, just because."
        projectSubtitle="my public repos"
        projectURL="https://github.com/micahnorwoodjordan"
        [userIsOnMobile]="getUserIsOnMobile()"
    >
    </app-project-card>
    <app-project-card
        projectName="getmybeats.com"
        imageURL="https://static.micahnorwoodjordan.com/getmybeats.png"
        bodyText="Listen to some of my music! To accommodate my growing fanbase, I've built this web application so that anyone and everyone has access to my music at all times."
        projectSubtitle="my music"
        projectURL="https://getmybeats.com"
        [userIsOnMobile]="getUserIsOnMobile()"
    >
    </app-project-card>
    <app-project-card
        projectName="micahnorwoodjordan.com"
        imageURL="https://static.micahnorwoodjordan.com/me-sitting.png"
        bodyText="Check out my Gihub repo containing the source code for this very site."
        projectSubtitle="my portfolio"
        projectURL="https://github.com/micahnorwoodjordan/micahnorwoodjordan.com"
        [userIsOnMobile]="getUserIsOnMobile()"
    >
    </app-project-card>
    <app-project-card
        projectName="Linkedin"
        imageURL="https://static.micahnorwoodjordan.com/linkedin.png"
        bodyText="Feel free to connect with me on Linkedin!"
        projectSubtitle="my Linkedin account"
        projectURL="https://github.com/micahnorwoodjordan/micahnorwoodjordan.com"
        [userIsOnMobile]="getUserIsOnMobile()"
    >
    </app-project-card>
</div>
