
<div fxLayout="column" fxLayoutAlign="space-evenly center" fxFill class="pd-top-5">
    <div *ngIf="!getUserIsOnMobile()" class="pd-bottom-10">
        <span class="heading">Links/Projects</span>
    </div>
    <div *ngIf="getUserIsOnMobile()" class="pd-bottom-5">
        <span class="heading-mobile">Links/Projects</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngIf="projects$ | async as apiResponse">
            <ng-container *ngFor="let project of apiResponse.data; let i = index">
                <app-project-card
                    projectName="{{project.title}}"
                    projectImageURL="{{project.imageUrl}}"
                    bodyText="{{project.detail}}"
                    projectSubtitle="{{project.subtitle}}"
                    projectURL="{{project.projectUrl}}"
                    [userIsOnMobile]="getUserIsOnMobile()"
                    [avatarUrl]="defaultProjectAvatarImageUrl"
                >
                </app-project-card>
            </ng-container>
        </ng-container>
    </div>
</div>
