<div fxLayout="row" fxLayoutAlign="center center">
    <img class="image-me-standing" src="{{meStandingPNGURL}}" alt="micah standing">
</div>


<div class="pd-top-10" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="pd-left-5" fxLayout="row">
        <img class="image-me-sitting" src="{{meSittingPNGURL}}" alt="micah sitting">
    </div>
    <div class="pd-right-5" fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly center">
        <p class="who-is-micah-header pd-top-5">
            Who is Micah?
        </p>
        <p class="content">
            Micah is a devout Christian with a childlike love for building software. His goal is to honor Jesus in all aspects of life, even in the lines of code that he writes.
        </p>
        <br>
        <br>
        <br>
        <button class="learn-more-button" mat-flat-button (click)="navigateToURL(myAboutPageURL)">LEARN MORE</button>
    </div>
</div>

<div class="pd-top-10" fxLayout="row" fxLayoutAlign="space-around center">
    <p class="who-is-micah-subheader">Check out some of Micah's work</p>
</div>

<div class="pd-top-5 pd-bottom-10" fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout="row" fxLayoutAlign="center end">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="image pd-bottom-5" src="{{myGithubPNGURL}}" alt="github">
            <button class="extra-buttons" mat-flat-button (click)="navigateToURL(myGithubURL)">GITHUB</button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="image pd-bottom-5" src="{{myMusicPNGURL}}" alt="getmybeats.com">
            <button class="extra-buttons" mat-flat-button (click)="navigateToURL(myMusicURL)">MUSIC</button>
        </div>
    </div>

    <div class="pd-top-10" fxLayout="row" fxLayoutAlign="center end">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img class="image pd-bottom-5" src="{{myLinkedinPNGURL}}" alt="linkedin">
            <button class="extra-buttons" mat-flat-button (click)="navigateToURL(myLinkedinURL)">LINKEDIN</button>
        </div>
    </div>
</div>
