@use '@angular/material' as mat;

/* Customize the entire app. Change :root to your selector if you want to scope the styles. */
// $red-palette
// $green-palette
// $blue-palette
// $yellow-palette
// $cyan-palette
// $magenta-palette
// $orange-palette
// $chartreuse-palette
// $spring-green-palette
// $azure-palette
// $violet-palette
// $rose-palette

.submit-button, .submit-button-mobile  {
  color-scheme: light dark;
  @include mat.button-overrides((
    filled-container-color: white,
    filled-label-text-color: #219d51,
  ));
  @include mat.theme((
  color: mat.$green-palette,
    typography: Roboto,
    density: 0
  ));
}

.learn-more-button, .learn-more-button-mobile, .extra-buttons, .extra-buttons-mobile  {
  color-scheme: light dark;
  @include mat.button-overrides((
    filled-container-color: #219d51,
    filled-label-text-color: white,
  ));
  @include mat.theme((
  color: mat.$green-palette,
    typography: Roboto,
    density: 0
  ));
}

.spinner { stroke: white; transform: scale(2); z-index: 1; position: absolute; left: 0vw; }
.spinner-mobile { stroke: white; transform: scale(2); z-index: 1; position: absolute; right: 37vw; }

:root {
  @include mat.bottom-sheet-overrides((
    container-text-color: black,
    container-background-color: #219d51,
  ));
  @include mat.card-overrides((
    outlined-outline-color: #219d51,
    outlined-container-color: rgb(21, 21, 21),
  ));
}