*.pyc

static.micahnorwoodjordan.com/venv/
static.micahnorwoodjordan.com/*.png
static.micahnorwoodjordan.com/*.ttc

node_modules/
.angular/cache/
.vscode/
znotes/

ide-notes.md
spring-boot-notes.md
mailgun-credentials.md

.DS_Store
.env
