<div fxLayout="row">
    <div class="" fxLayout="row" fxLayoutAlign="center center" fxFill>
        <div class="" fxLayout="column" fxFill fxFlex>
            <div class="pd-left-5 pd-top-5">
                <h1>
                    <a class="about-me-header">About Me</a>
                </h1>
                <br>
            </div>
            
            <a class="content pd-left-5 pd-right-5">
                I have 25 years of life experience, and during that time, I've come to understand two truths:
            </a>
            <ul class="content pd-left-10 pd-right-5">
                <li>Jesus Christ is my Lord and Savior</li>
                <li>One of the ways through which I can glorify Him is my love of building software (primarily API backends) and my studies of all things technological</li>
            </ul>
            <a class="content pd-left-5 pd-right-5">
                I love to work out, produce music, and play Xbox with my friends when I have the time. Most days, I lean into my passion of software engineering by exploring the  crevices of our technological landscape which I have not yet explored.
            </a>
            <br>
            <a class="content pd-left-5 pd-right-5">
                I'm working on multiple projects, but at this time, only my music website is publicly accessible; you can check it out here. Also feel free to look at my Github.
            </a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="image pd-right-2 pd-left-5" fxLayout="column">
            <img src="http://localhost:4200/bowling-ball.png" alt="bowling ball">
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<div class="contact-me-section pd-top-10" fxLayout="row" fxLayoutAlign="center center">
    <div class="" fxLayout="column" fxFill fxFlex>
        <div class="pd-left-5">
            <h1>
                <a class="contact-me-header">Contact Me</a>
            </h1>
            <br>
        </div>
        <a class="content contact-me-content pd-left-5 pd-right-5">
            If you'd like to get in touch, please shoot me an email, and I will contact you soon. Looking forward to our correspondence!
        </a>
        <br>
        <a class="content contact-me-content pd-left-5 pd-right-5">
            <u>micahnorwoodjordan&#64;gmail.com</u>
        </a>
        <a class="content contact-me-content pd-left-5 pd-right-5">
            (602) 317-1807
        </a>
    </div>
    <div fxLayout="column" fxFlex>
        <div class="inputs" fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field class="name-field pd-right-2">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Ex. John" value="">
            </mat-form-field>
            <mat-form-field class="name-field">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Doe" value="">
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field class="email-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="youremailaddress@gmail.com" value="">
            </mat-form-field>
            <mat-form-field class="message-field">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="type your message here"></textarea>
            </mat-form-field>
            <button class="submit-button" mat-stroked-button>Submit</button>
        </div>

    </div>
</div>
