<div class="" fxLayout="row" fxLayoutAlign="center center" fxFill>
    <div class="" fxLayout="column" fxFill fxFlex>
        <div class="pd-left-5 pd-top-5">
            <h1>
                <a class="about-me-header">About Me</a>
            </h1>
            <br>
        </div>
        
        <a class="content pd-left-5 pd-right-5">
            I have 25 years of life experience, and during that time, I've come to understand two truths:
        </a>
        <ul class="content pd-left-10 pd-right-5">
            <li>Jesus Christ is my Lord and Savior</li>
            <li>One of the ways through which I can glorify Him is my love of building software (primarily API backends) and my studies of all things technological</li>
        </ul>
        <a class="content pd-left-5 pd-right-5">
            I love to work out, produce music, and play Xbox with my friends when I have the time. Most days, I lean into my passion of software engineering by exploring the  crevices of our technological landscape which I have not yet explored.
        </a>
        <br>
        <a class="content pd-left-5 pd-right-5">
            I'm working on multiple projects, but at this time, only my music website is publicly accessible; you can check it out here. Also feel free to look at my Github.
        </a>
    </div>
    <div class="image pd-right-2 pd-left-5" fxLayout="column">
        <img src="http://localhost:4200/bowling-ball.png" alt="bowling ball">
        <br>
        <br>
        <br>
    </div>
</div>

