<div class="pd-bottom-10" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="card white rounded gradiented" appearance="outlined" (click)="onClick()">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{projectName}}</mat-card-title>
          <mat-card-subtitle>{{projectSubtitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="card-image" src="{{imageURL}}">
        <mat-card-content>
          <p>{{bodyText}}</p>
        </mat-card-content>
    </mat-card>
</div>
