<div *ngIf="!getUserIsOnMobile()" fxLayout="row">
    <div class="pd-top-5 pd-bottom-10" fxLayout="row" fxLayoutAlign="center center" fxFill>
        <div fxLayout="column" fxFlex="40vw" fxLayoutAlign="center center">
            <span class="about-me-header pd-bottom-5">Skills & Technologies</span>
            <span class="about-me-subheader pd-bottom-2">Languages</span>
            <mat-chip-set class="chipset pd-bottom-5" aria-label="Fish selection">
                <mat-chip>Python/Django</mat-chip>
                <mat-chip>Javascript/HTML/CSS</mat-chip>
                <mat-chip>Angular/TypeScript</mat-chip>
                <mat-chip>C#</mat-chip>
                <mat-chip>Java</mat-chip>
            </mat-chip-set>
            <span class="about-me-subheader pd-bottom-2">OS's/Platforms</span>
            <mat-chip-set class="chipset pd-bottom-5" aria-label="Fish selection">
                <mat-chip>macOS 12.0+</mat-chip>
                <mat-chip>Linux (Debian)</mat-chip>
                <mat-chip>Windows Server (2018+)</mat-chip>
            </mat-chip-set>
            <span class="about-me-subheader pd-bottom-2">Cloud</span>
            <mat-chip-set class="chipset" aria-label="Fish selection">
                <mat-chip>AWS</mat-chip>
                <mat-chip>DigitalOcean</mat-chip>
            </mat-chip-set>
            <span class="about-me-header pd-bottom-5 pd-top-5">Areas of Expertise</span>
            <mat-chip-set class="chipset pd-bottom-5 pd-left-2" aria-label="Fish selection">
                    <mat-chip *ngFor="let skillTag of skillTags">{{skillTag}}</mat-chip>
            </mat-chip-set>

            <p class="content pd-top-5">
                <span class="decrypted-effect">{{textObject1.decryptedString}}</span>
                <span class="encrypted-effect">{{textObject1.encryptedString}}</span>
                <br><br><br><br>
                <span class="decrypted-effect">{{textObject2.decryptedString}}</span>
                <span class="encrypted-effect">{{textObject2.encryptedString}}</span>
                <br><br><br><br>
                <span class="decrypted-effect">{{textObject3.decryptedString}}</span>
                <span class="encrypted-effect">{{textObject3.encryptedString}}</span>
            </p>
        </div>
    </div>
</div>

<div *ngIf="getUserIsOnMobile()" class="about-me-section-mobile pd-left-2 pd-top-10" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div>
        <div class="pd-left-5">
            <span class="about-me-header-mobile pd-top-5">Skills & Technologies</span>
            <br>
            <br>
            <br>
            <span class="about-me-subheader-mobile pd-bottom-2">Languages</span>
            <mat-chip-set class="chipset pd-bottom-10 pd-left-5" aria-label="Fish selection">
                <mat-chip>Python/Django</mat-chip>
                <mat-chip>Javascript/HTML/CSS</mat-chip>
                <mat-chip>Angular/TypeScript</mat-chip>
                <mat-chip>C#</mat-chip>
                <mat-chip>Java</mat-chip>
            </mat-chip-set>
            <span class="about-me-subheader-mobile pd-bottom-2">OS's/Platforms</span>
            <mat-chip-set class="chipset pd-bottom-10 pd-left-5" aria-label="Fish selection">
                <mat-chip>macOS 12.0+</mat-chip>
                <mat-chip>Linux (Debian)</mat-chip>
                <mat-chip>Windows Server (2018+)</mat-chip>
            </mat-chip-set>
            <span class="about-me-subheader-mobile pd-bottom-2">Cloud</span>
            <mat-chip-set class="chipset pd-left-5 pd-bottom-2" aria-label="Fish selection">
                <mat-chip>AWS</mat-chip>
                <mat-chip>DigitalOcean</mat-chip>
            </mat-chip-set>
            <br>
            <br>
            <br>
            <span class="about-me-header-mobile pd-bottom-5">Areas of Expertise</span>
            <mat-chip-set class="chipset pd-left-5" aria-label="Fish selection">
                <mat-chip *ngFor="let skillTag of skillTags">{{skillTag}}</mat-chip>
            </mat-chip-set>
    
            <p class="content-mobile pd-top-5 pd-left-2">
                <span class="decrypted-effect">{{textObject1.decryptedString}}</span>
                <span class="encrypted-effect">{{textObject1.encryptedString}}</span>
                <br><br>
                <span class="decrypted-effect">{{textObject2.decryptedString}}</span>
                <span class="encrypted-effect">{{textObject2.encryptedString}}</span>
                <br><br>
                <span class="decrypted-effect">{{textObject3.decryptedString}}</span>
                <span class="encrypted-effect">{{textObject3.encryptedString}}</span>
            </p>
        </div>
    </div>
</div>


<div class="pd-left-2" fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="!getUserIsOnMobile()" class="contact-me-section pd-top-2" fxLayout="row" fxLayoutAlign="center center">
        <div class="" fxLayout="column" fxFill fxFlex>
            <div class="pd-left-5">
                <p class="contact-me-header">Contact Me</p>
            </div>
            <p class="contact-me-content pd-left-5 pd-right-5">
                If you'd like to get in touch, please shoot me an email, and I will contact you soon. Looking forward to our correspondence!
            </p>
            <br>
            <p class="contact-me-content pd-left-5 pd-right-5">
                <u>micahnorwoodjordan&#64;gmail.com</u>
            </p>
        </div>
        <div fxFlex="2">
            <mat-spinner *ngIf="isWaitingForAPIResponse" class="spinner"></mat-spinner>
        </div>
        
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field class="name-field pd-right-2">
                    <mat-label>First Name</mat-label>
                    <input matInput [formControl]="firstName" placeholder="Ex. John" value="">
                    <mat-error *ngIf="form.get('firstName')?.hasError('required')">First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="name-field">
                    <mat-label>Last Name</mat-label>
                    <input matInput [formControl]="lastName" placeholder="Ex. Doe" value="">
                    <mat-error *ngIf="form.get('lastName')?.hasError('required')">Last Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field class="email-field pd-top-5">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" placeholder="youremailaddress@gmail.com" value="">
                    <mat-error *ngIf="form.get('email')?.invalid">Invalid email format</mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
                </mat-form-field>
                <mat-form-field class="message-field pd-top-5 pd-bottom-2">
                    <mat-label>Message</mat-label>
                    <textarea class="email-textarea" matInput [formControl]="message" placeholder="type your message here"></textarea>
                    <mat-error *ngIf="form.get('message')?.hasError('required')">Message is required</mat-error>
                    <mat-error *ngIf="form.get('message')?.hasError('min')">Message field cannot be empty</mat-error>
                    <mat-error *ngIf="form.get('message')?.hasError('max')">Message cannot exceed 120 characters</mat-error>
                </mat-form-field>
                <div class="pd-top-5">
                    <button mat-flat-button class="submit-button" type="submit" (click)="onSubmit()">SEND</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div  *ngIf="getUserIsOnMobile()" fxLayout="row" fxLayoutAlign="center center">
    <div class="contact-me-section-mobile" fxLayout="column" FxLayoutAlign="space-evenly center">
        <div class="contact-me-form-mobile" fxLayout="column" fxLayoutAlign="center center">
            <p class="contact-me-header-mobile">Contact Me</p>
            <p class="contact-me-content pd-left-5 pd-right-5">
                If you'd like to get in touch, please shoot me an email, and I will contact you soon. Looking forward to our correspondence!
            </p>
            <br>
            <p class="contact-me-content pd-left-5 pd-right-5">
                <u>micahnorwoodjordan&#64;gmail.com</u>
            </p>
            <mat-form-field class="name-field-mobile">
                <mat-label>First Name</mat-label>
                <input matInput [formControl]="firstName" placeholder="Ex. John" value="">
                <mat-error *ngIf="form.get('firstName')?.hasError('required')">First Name is required</mat-error>
            </mat-form-field>
        
            <mat-form-field class="name-field-mobile">
                <mat-label>Last Name</mat-label>
                <input matInput [formControl]="lastName" placeholder="Ex. Doe" value="">
                <mat-error *ngIf="form.get('lastName')?.hasError('required')">Last Name is required</mat-error>
            </mat-form-field>
    
            <div class="spinner-mobile">
                <mat-spinner *ngIf="isWaitingForAPIResponse"></mat-spinner>
            </div>
    
            <mat-form-field class="email-field-mobile">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" placeholder="youremailaddress@gmail.com" value="">
                <mat-error *ngIf="form.get('email')?.invalid">Invalid email format</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
            </mat-form-field>
        
            <mat-form-field class="message-field-mobile">
                <mat-label>Message</mat-label>
                <textarea class="email-textarea" matInput [formControl]="message" placeholder="type your message here"></textarea>
                <mat-error *ngIf="form.get('message')?.hasError('required')">Message is required</mat-error>
                <mat-error *ngIf="form.get('message')?.hasError('min')">Message field cannot be empty</mat-error>
                <mat-error *ngIf="form.get('message')?.hasError('max')">Message cannot exceed 120 characters</mat-error>
            </mat-form-field>
        <div class="pd-top-5">
            <button mat-flat-button class="submit-button-mobile" type="submit" (click)="onSubmit()">SEND</button>
        </div>
        <br><br><br>
    </div>
    
</div>
