.about-me-header { font-size: xx-large; transform: scale(1.4);  font-weight: 200; color: white; }
.about-me-header-mobile { font-size: xx-large;  font-weight: 200; color: white; }

.about-me-subheader { font-size: xx-large; transform: scale(1);  font-weight: 200; color: white; }
.about-me-subheader-mobile { font-size: x-large; transform: scale(1);  font-weight: 200; color: white; }

.contact-me-header { font-size: 70px; font-weight: 600; color: white; }
.contact-me-header-mobile { font-size: 60px; font-weight: 700; color: white; }
.contact-me-section { width: 90vw; height: 65vh; background-color: rgb(21, 21, 21); border-radius: 15px; border: 1px solid orange; }
.contact-me-section-mobile { width: 80vw; background-color: rgb(21, 21, 21); border-radius: 15px; border: 1px solid orange; }

.image { width: 55%; height: auto; }
.image-mobile { width: 80vw; height: 40vh; }

.ezra-party-image-mobile { width: 95vw; height: 35vh; }
.content { font-size: large; font-weight: 300; height: 45vh; }
.content-mobile { font-size: large; font-weight: 300; height: 100vh; width: 80vw; }
.contact-me-content { color: white }

.name-field { width: 10vw; font-weight: 400; background-color: rgb(21, 21, 21); color: white; }
.name-field-mobile { font-weight: 400; background-color: rgb(21, 21, 21); color: white; }

.email-field { width: 22vw; font-weight: 400; background-color: rgb(21, 21, 21); color: white; }
.email-field-mobile { font-weight: 400; background-color: rgb(21, 21, 21); color: white; }

.message-field { width: 22vw; font-weight: 400; background-color: rgb(21, 21, 21); color: white; }
.message-field-mobile { font-weight: 400; background-color: rgb(21, 21, 21); color: white; }

.email-textarea { resize: none; }

.submit-button  { height: 7vh; width: 8vw; font-size: large; font-weight: 300; color: white; }
.submit-button-mobile  { height: 11vh; width: 45vw; font-size: 17px; font-weight: 300; }

.contact-me-form { text-align: center; }
.contact-me-form-mobile { width: 75vw; text-align: center; }

.chipset { color: white; }

.about-me-section-mobile { width: 87vw; }

.decrypted-effect { color: white }
.encrypted-effect { color: #219d51; }