.image-me-standing { width:80vw; }

.image-me-sitting { width:30vw; }

.who-is-micah-header { font-size: 60px; font-weight: 400; }

.content { font-size: 35px; font-weight: 250; }

.learn-more-button {
    height: 10vh;
    width: 15vw;
    font-size: 20px;
    font-weight: 200;
}