<div fxLayout="row" fxLayoutAlign="center center">
    <img class="image-me-standing" src="http://localhost:4200/me-standing.png" alt="picture of micah 1">
</div>


<div class="pd-top-10" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="pd-left-5" fxLayout="row">
        <img class="image-me-sitting" src="http://localhost:4200/me-sitting.png" alt="picture of micah 2">
    </div>
    <div class="pd-right-5" fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly center">
        <p class="who-is-micah-header pd-top-5">
            Who is Micah?
        </p>
        <p class="content">
            Micah is a devout Christian with a childlike love for building software. His goal is to honor Jesus in all aspects of life, even in the lines of code that he writes.
        </p>
        <br>
        <br>
        <br>
        <button class="learn-more-button" mat-flat-button>Learn more</button>
    </div>
</div>
