.image-me-standing { width:80vw; }
.image-me-standing-mobile { width:80vw; }

.image-me-sitting { width:30vw; }
.image-me-sitting-mobile { width:70vw; height: 50vh; }

.who-is-micah-header { font-size: 60px; font-weight: 400; color: white; }

.who-is-micah-subheader { font-size: 50px; font-weight: 400; color: white; }
.who-is-micah-subheader-mobile { font-size: xxx-large; font-weight: 200; color: white; }

.content { font-size: xx-large; font-weight: 250; color: white; }
.content-mobile { font-size: x-large; font-weight: 100; color: white; }

.learn-more-button { height: 12vh; width: 11vw; font-size: 20px; font-weight: 200; }
.learn-more-button-mobile { height: 11vh; width: 45vw; font-size: 20px; font-weight: 200; }

/* https://stackoverflow.com/questions/11078509/how-to-increase-the-clickable-area-of-a-a-tag-button */
.learn-more-button-a-tag-text {
    text-decoration: none !important;
    color: white;
    font-weight: 200;
    z-index: 1;
    padding: 2.4em;
    margin: -2.4em;
}
.learn-more-button-a-tag-text-mobile {
    text-decoration: none !important;
    color: white;
    font-weight: 200;
    z-index: 1;
    padding: 1.5em;
    margin: -1.5em;
}

.image { width: 25vw; }
.image-mobile { width: 90vw; }

.subtitle { font-size: x-large; color: white; }
.subtitle-mobile { font-size: large; color: white; }
