.image-me-standing { width:80vw; }
.image-me-standing-mobile { width:80vw; }

.image-me-sitting { width:30vw; }
.image-me-sitting-mobile { width:70vw; height: 50vh; }

.who-is-micah-header { font-size: 60px; font-weight: 400; color: white; }

.who-is-micah-subheader { font-size: 50px; font-weight: 400; color: white; }
.who-is-micah-subheader-mobile { font-size: xxx-large; font-weight: 200; color: white; }

.content { font-size: xx-large; font-weight: 250; color: white; }
.content-mobile { font-size: x-large; font-weight: 100; color: white; }

.learn-more-button { height: 10vh; width: 15vw; font-size: 20px; font-weight: 200; }
.learn-more-button-mobile { height: 11vh; width: 45vw; font-size: 20px; font-weight: 200; }

.extra-buttons { height: 6vh; width: 9vw; font-size: 17px; font-weight: 200; }
.extra-buttons-mobile { height: 11vh; width: 45vw; font-size: 17px; font-weight: 200; }

.image { width: 25vw; }
.image-mobile { width: 90vw; }