<div *ngIf="getUserIsOnMobile()" class="pd-top-10" fxLayout="row" fxLayoutAlign="center center">
    <img class="image-me-sitting-mobile" src="{{getMeSittingPNGURL()}}" alt="micah sitting">
</div>


<div *ngIf="!getUserIsOnMobile()" class="pd-bottom-10" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="pd-left-5" fxLayout="row">
        <img class="image-me-sitting" src="{{getMeSittingPNGURL()}}" alt="micah sitting">
    </div>
    <div class="pd-right-5" fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly center">
        <p class="who-is-micah-header pd-top-5">
            Who is Micah?
        </p>
        <p class="content">{{whoIsMicahText}}</p>
        <br>
        <br>
        <br>
        <button class="learn-more-button" mat-flat-button (click)="navigateToURL(getMyAboutPageURL())">LEARN MORE</button>
    </div>
</div>

<div *ngIf="getUserIsOnMobile()" fxLayoutAlign="space-around center" >
    <p class="who-is-micah-subheader pd-top-10">Who is Micah?</p>
</div>

<div *ngIf="getUserIsOnMobile()" fxLayoutAlign="space-around center">
    <div class="pd-left-2" fxLayout="column" fxFlex="70" fxLayoutAlign="space-evenly center">
        <p class="content-mobile">{{whoIsMicahText}}</p>
        <br>
        <br>
        <br>
        <button class="learn-more-button-mobile" mat-flat-button (click)="navigateToURL(getMyAboutPageURL())">LEARN MORE</button>
    </div>
</div>
