<div *ngIf="!getUserIsOnMobile()" class="pd-bottom-10" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="pd-left-5" fxLayout="column" fxFlex="30vw">
        <img class="image-me-sitting" src="{{getMeSittingPNGURL()}}" alt="micah sitting">
    </div>
    <div fxLayout="column" fxFlex="30vw" fxLayoutAlign="space-evenly center">
        <p class="who-is-micah-header pd-top-5">
            Who is Micah?
        </p>
        <p class="content">{{whoIsMicahDecryptedText}}</p>
        <p class="subtitle">{{micahNoteDecryptedText}}</p>
        <br>
        <br>
        <button class="learn-more-button" mat-flat-button>
            <a class="learn-more-button-a-tag-text" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">LEARN MORE</a>
        </button>
    </div>
</div>

<div *ngIf="getUserIsOnMobile()" fxLayoutAlign="space-around center" >
    <div class="pd-left-2" fxLayout="column" fxFlex="70vw" fxLayoutAlign="space-evenly center">
        <span class="who-is-micah-subheader-mobile pd-top-5 pd-left-10">Who is Micah?</span>
        <p class="content-mobile">{{whoIsMicahDecryptedText}}</p>
        <p class="subtitle-mobile">{{micahNoteDecryptedText}}</p>
        <br>
        <img class="image-me-sitting-mobile" src="{{getMeSittingPNGURL()}}" alt="micah sitting">
        <br>
        <br>
        <br>
        <button class="learn-more-button-mobile" mat-flat-button>
            <a class="learn-more-button-a-tag-text-mobile" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">LEARN MORE</a>
        </button>
    </div>
</div>
