<div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex="88vw">
        <h2>
            <p class="title pd-left-5">Micah Norwood</p>
        </h2>
    </div>
    <div *ngIf="!userIsOnMobile" fxFlex="4vw">
        <div fxLayout="column">
            <h2>
                <a class="heading" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            </h2>
        </div>
        <div fxLayout="column" fxFlex="5vw">
            <h2>
                <a class="heading" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
            </h2>
        </div>
    </div>
    <div *ngIf="userIsOnMobile" class="pd-top-8 pd-right-5">
        <div (click)="openBottomSheet()">
            <mat-icon class="menu-icon">menu</mat-icon>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
