<div class="footer" fxLayout="row" fxLayoutAlign="space-between start">


    <div class="pd-right-5" fxLayout="column" fxFlex="40vw">
        <h1>Joshua 1:9</h1>
        <h3>
            “Have I not commanded you? Be strong and of good courage; do not be afraid, nor be dismayed, for the Lord your God is with you wherever you go.”
        </h3>
    </div>


    <div fxLayout="column" fxFlex="30vw">
        <h2>Location</h2>
        <h3>Phoenix, AZ, 85027</h3>
    </div>


    <div fxLayout="column" fxFlex="27vw">
        <h2>Contact</h2>
        <h3><a href="https://www.linkedin.com/in/micah-norwood777" target="_blank">LinkedIn</a></h3>
        <h3>email: micahnorwoodjordan&#64;gmail.com</h3>
        <h3>phone number: (602) 317-1807</h3>
    </div>
</div>
