<div class="pd-top-10" fxLayout="row" fxLayoutAlign="space-between start">


    <div class="pd-right-5 pd-left-2" fxLayout="column" fxFlex="40vw">
        <a class="joshua-reference">Joshua 1:9</a>
        <br>
        <a class="joshua-verse content">
            “Have I not commanded you? Be strong and of good courage; do not be afraid, nor be dismayed, for the Lord your God is with you wherever you go.”
        </a>
    </div>


    <div fxLayout="column" fxFlex="30vw">
        <a class="heading">Location</a>
        <br>
        <a class="content">Phoenix, AZ, 85027</a>
    </div>


    <div fxLayout="column" fxFlex="27vw">
        <a class="heading">Contact</a>
        <br>
        <a class="content" href="https://www.linkedin.com/in/micah-norwood777" target="_blank">LinkedIn</a>
        <br>
        <br>
        <br>
        <a class="content">email: micahnorwoodjordan&#64;gmail.com</a>
        <br>
        <br>
        <br>
        <a class="content">phone number: (602) 317-1807</a>
        <br>
        <br>
    </div>
</div>
