<div *ngIf="!userIsOnMobile" fxLayout="row" fxLayoutAlign="space-between" class="pd-bottom-5">
    <div fxLayout="column" fxFlex="85vw">
        <mat-card class="card" appearance="outlined" fxLayout="column" fxLayoutAlign="space-between center">
            <mat-card-header>
              <mat-card-title class="title pd-bottom-2">{{headerTitle}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="subtitle">{{headerSubtitle}}</mat-card-content>
            <mat-card-content>{{headerContent}}</mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="12vw">
        <mat-card class="card" appearance="outlined" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header>
                <mat-card-title class="title pd-bottom-2">
                    <a class="heading" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </mat-card-title>
                <mat-card-title class="title pd-bottom-2">
                    <a class="heading" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
                </mat-card-title>
                <mat-card-title class="title pd-bottom-2">
                    <a class="heading" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
                </mat-card-title>
                <mat-card-title class="title pd-bottom-2">
                    <a class="heading" href="{{resumeUrl}}" target="_blank">Resume</a>
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>

<div *ngIf="userIsOnMobile" fxLayout="row" fxLayoutAlign="center center">
    <div class="pd-top-2">
        <mat-card class="card-mobile" appearance="outlined" fxLayout="column" fxLayoutAlign="space-between center">
            <mat-card-header>
              <mat-card-title class="title-mobile">{{headerTitle}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="subtitle-mobile">{{headerSubtitle}}</mat-card-content>
            <mat-card-content class="content-mobile">{{headerContent}}</mat-card-content>
        </mat-card>
    </div>
</div>

<router-outlet></router-outlet>
