<div *ngIf="!getUserIsOnMobile()" class="pd-top-2" fxLayout="row" fxLayoutAlign="space-between start">

    <div class="pd-right-5 pd-left-2" fxLayout="column" fxFlex="40vw">
        <p class="joshua-reference pd-left-2">Joshua 1:9</p>
        <a href="https://www.bible.com/bible/114/JOS.1.NKJV" target="_blank" class="joshua-verse content">{{joshuaVerse}}</a>
    </div>


    <div fxLayout="column" fxFlex="30vw">
        <p class="heading">Location</p>
        <p class="content">Phoenix, AZ, 85027</p>
    </div>


    <div fxLayout="column" fxFlex="27vw">
        <p class="heading">Contact</p>
        <br>
        <a class="content" href="https://www.linkedin.com/in/micah-norwood777" target="_blank">LinkedIn</a>
        <br>
        <p class="content">email: micahnorwoodjordan&#64;gmail.com</p>
        <p class="content">phone number: (602) 317-1807</p>
        <br>
        <br>
    </div>
</div>

<div *ngIf="getUserIsOnMobile()" class="pd-top-2" fxLayout="column" fxLayoutAlign="space-between start">
    <p class="joshua-reference">Joshua 1:9</p>
    <a href="https://www.bible.com/bible/114/JOS.1.NKJV" target="_blank" class="joshua-verse content">{{joshuaVerse}}</a>

    <p class="heading">Location</p>
    <p class="content">Phoenix, AZ, 85027</p>

    <p class="heading">Contact</p>
    <br>
    <a class="content" href="https://www.linkedin.com/in/micah-norwood777" target="_blank">LinkedIn</a>
    <br>
    <p class="content">email: micahnorwoodjordan&#64;gmail.com</p>
    <p class="content">phone number: (602) 317-1807</p>
</div>
